<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Foundation JS - Minimal JS Mvvm</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <div id="root">
            <label id="id" name="id" style="height:25px"></label>
            <label id="name" name="name" style="height:25px"></label>
            <label id="value" name="value" style="height:25px"></label>
            <button id="submit" name="submit">Submit</label>
        </div>


        <script src="../js/NVVM_JS/ObservableDictionary.js" ></script>
        <script src="../js/NVVM_JS/Observable.js" ></script>
        <script src="../js/NVVM_JS/Observer.js"></script>

        <script src="../js/Example.js"></script>

        <script type="text/javascript">
            
            let model = new ExampleModel();
            model.name = "guest";
            model.value = 1;
            model.id = 0;

            let view = document.getElementById("root");            
            let viewModel = new ExampleViewModel(view);
            viewModel.bind(model);
        </script>
    </body>
</html>